[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Pillow = "9.5.0"
streamlit = "*"
gunicorn = "*"
flask = {extras = ["async"], version = "*"}

[dev-packages]
pylint = "*"

[requires]
python_version = "3.11"
